h1 {
    margin: 30px;
  }
  
  .gallery_row {
    display: flex;
    justify-content: space-around;
  }
  
  .gallery_row > * {
    flex: 1;
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
  }
  
  /* === media quieries === */
  
  @media only screen and (max-width: 640px) {
    .gallery_row {
      display: block;
    }

  }