.App {
  text-align: center;
}

h1 {
  margin: 30px;
}

.image-cover {
  width: 100%;
}

.container_image_cover_row {
  display: flex;
  justify-content: space-around;
}

.container_image_cover_row_item {
  flex: 1;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
}

.container_image_cover_row_item img {
  height: 100%;
  width: 100%;
}

.container_image_cover_row_item_overlay {
  transition: bottom 0.5s ease;
  bottom: -100%;
  position: absolute;
  opacity: 0.8;
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

.container_image_cover_row_item:hover .container_image_cover_row_item_overlay {
  bottom: 0;
}

/* === media quieries === */

@media only screen and (max-width: 640px) {
  .container_image_cover_row {
    display: block;
  }

}